<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cafoma_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="cafoma_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">

        <activity
            android:name="com.example.cafoma_app.vue.DetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cafoma_app.vue.ListeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cafoma_app.vue.FormulaireActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cafoma_app.vue.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>